
/* Globální nastavení */
body {
    margin: 0;
    padding: 0;
    display: flex;
    flex-direction: column;
    align-items: center;
    background-color: #2c2c2c;
    position: relative;
}

body::after {
    content: '';
    position: fixed;
    width: 100%; /* Šířka celé stránky */
    height: 100%; /* Výška celé stránky */
    margin: 0;
    padding: 0;
    background-image: url("glitch.jpeg");
    background-size: cover;
    opacity: 0.02;
    z-index: -1;
}

.game-over {
    display: flex;
    align-items: center;
    justify-content: center;
    text-align: center;
    background-color: #2c2c2c;
    width: 100%;
    height: 100%;
    position: absolute;
    opacity: 0.9;
    z-index: 15;
    font-family: 'Open 24 Display St', sans-serif;
    color: #00ff00;
    text-shadow: 0 0 4px #00ff00;
    display: none;
}


/* Nadpis bodů */
#header {
    width: 100%; /* Herní pole zabere 90 % šířky stránky */
    text-align: center;
    margin-bottom: 10px; /* 10px mezera pod nadpisem */
}

h1 {
    color: #cc0000; 
    text-shadow: 2px 2px 4px rgba(0, 0, 0, 0.5); 
    animation: blink s infinite; 
    font-size: 55px;
    text-align: center;
    font-family: "Prosto One", serif;
}

.points {
    display: flex;
    width: 100%;
    height: 60px;
    position: relative;
    border: 5px solid  #cc0000;
    border-radius: 8px;
    text-shadow: 2px 2px 4px rgba(0, 0, 0, 0.5);
    background-color: rgba(0, 0, 0, 0.7); /* Tmavé pozadí */
    overflow: hidden;
    font-size: 70px;
    color: #00ff00;
    text-shadow: 0 0 4px #00ff00;
    padding: 10px;
    font-weight: 700;
    font-size: 33px;
    font-family: 'Open 24 Display St', sans-serif;
    letter-spacing: 3px;
    align-items: center;
    justify-content: center;
    box-shadow: 1px 1px 1px black;
    margin: 10px auto;
}

/* Herní pole - první vrstva */
#game-container {
    position: relative;
    width: 90%;
    max-width: 600px;
    aspect-ratio: 4 / 2.248;
    /* border: 8px solid #a80303; */
    border-radius: 10px;
    margin: 20px auto;
    overflow: hidden;
    background-image: url("coop1.webp"); /* První vrstva pozadí */
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    box-shadow: 3px 2px 2px black;
    filter: brightness(1.1);
    z-index: 0; 
}

/* Scanlines efekt */
#game-container::before {
    content: '';
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: repeating-linear-gradient(
        transparent,
        transparent 2px,
        rgba(255, 255, 255, 0.05) 2px,
        rgba(255, 255, 255, 0.05) 4px
    );
    z-index: 10;
    pointer-events: none;
}

/* Vignette efekt */
#game-container::after {
    content: '';
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: radial-gradient(
        ellipse at center,
        transparent 50%,
        rgba(0, 0, 0, 0.7) 100%
    );
    z-index: 10;
    pointer-events: none;
}

/* Druhá vrstva pozadí */
.racks {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-image: url("coop2.webp"); /* Druhá vrstva pozadí */
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    z-index: 5; /* Vyšší než #game-container */
    pointer-events: none; /* Zabrání interakcím s touto vrstvou */
    image-rendering: pixelated; /* Pixelový efekt pro obrázky */
}

/* Canvas pro kreslení hry */
#game-canvas {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    z-index: 1;
}

.row {
    position: absolute;
    width: 50%;
    height: 10px;
}

/* Umístění řádků */
#row1 { 
    top: 15%; 
    left: 5%;
 }
#row2 { 
    top: 15%; 
    right: 5%;
 }

#row3 { 
    bottom: 15%; 
    left: 5%; 
}
#row4 { bottom: 15%; 
    right: 5%; 
}

.egg {
    position: absolute;
    font-size: 24px;
    transition: transform 0.1s linear;
    filter: sepia(0.5);
    image-rendering: pixelated; /* Pixelový efekt pro obrázky */
}

#sound-toggle {
    width: 50px;
    box-sizing: border-box;
    height: 50px;
    background-color: hsl(20, 95%, 17%); 
    border: 3px solid #ffcc0070; 
    box-shadow: 3px 2px 2px black;
    position: absolute; 
    bottom: 10px; 
    right: 10px; 
    border-radius: 10px;
    padding: 10px;
    font-size: 40px;
    display: flex; 
    align-items: center; /* Vertikální zarovnání obsahu */
    justify-content: center; /* Horizontální zarovnání obsahu */
    margin: 5px;
    padding-bottom: 10px; 
    text-rendering: auto;
    z-index: 11;
    filter: sepia(0.5);
    outline: none
}

#sound-toggle:hover {
    /* background-color: #f9f8f890; */
    background-color: #ffcc0070; 
    color: #cc0000; /* Červený text */
    cursor: pointer;
}

#sound-toggle:active {
    outline: none;
}


.lives {
    display: block;
    width: 15.5%;
    max-width: 700px;
    height: auto;
    position: relative;
    top: 10px;
    border: 0px;
    background-color: hsla(0, 0%, 0%, 0.421);
    border-radius: 10px;
    overflow: hidden;
    padding: 10px;
    font-weight: 500;
    font-size: 22px;
    align-items: center;
    justify-content: center;
    margin: 10px auto;
    text-shadow: 2px 2px 4px rgba(0, 0, 0, 0.5);
    filter: sepia(0.5);

}

.egg {
    position: absolute;
    font-size: 24px;
    top: 0;
    left: 0;
    transition: transform 0.1s linear;
    z-index: 10; /* Aby byla vajíčka nad pozadím */
}

.wolf {
    display: flex;
    justify-content: center;
    position: relative;
    width: 90%; /* Zabírá 90 % šířky stránky */
    max-width: 600px; /* Maximální šířka pole */
    aspect-ratio: 4 / 2.25; /* Zachování poměru stran */
    z-index: 4;
    filter: contrast(1.3) grayscale(30%) brightness(0.95);
}

#wolf1 {
    display: none;
    margin-left: 105px;
    position: relative;
    top: 80px;
    width: 250px;
    height: 250px;
}

#wolf3 {
    display: none;
    position: relative;
    margin-left: 55px;
    top: 85px;
    width: 250px;
    height: 250px;
}

#wolf7 {
    position: relative;
    margin-left: 65px; 
    top: 15px;
    display: block;
    width: 250px;
    height: 250px;
}

#wolf9 {
    position: relative;
    margin-left: 65px;
    top: 15px;
    display: none;
    width: 250px;
    height: 250px;
}

.tutorial {
    list-style: none;
    /* font-family: "Prosto One", serif; */
    font-family: 'Open 24 Display St', sans-serif;
    letter-spacing: 2px;
    font-size: 3vh;
    color: #ffffff;
    text-shadow: 0 0 5px #00ff00;
    text-shadow: 0 0 2px #00ff00;
    filter: hue-rotate(-0.20turn) brightness(1.2);
}

.ovladani {
    position: relative;
    overflow: hidden;
    color: #00ff00;
    text-shadow: 0 0 4px #00ff00;
    animation: pulse 3s infinite;
    padding: 10px;
    font-weight: 700;
    font-size: 33px;
    text-align: center;
    font-family: 'Open 24 Display St', sans-serif;
    letter-spacing: 3px;
    align-items: center;
    justify-content: center;
    margin: 0px auto;
}

.level {
    color: rgb(255, 255, 255);
    background-color: hsla(0, 0%, 0%, 0.486);
    font-family: 'Open 24 Display St', sans-serif;
    letter-spacing: 3px;
    font-size: 3vh;
    font-weight: 600;
    position: absolute; /* Absolutní umístění vzhledem k #game-container */
    bottom: -11px; /* Vzdálenost od dolního okraje */
    left: 12px; /* Vzdálenost od pravého okraje */
    border-radius: 5px;
    padding: 5px 30px;
    z-index: 11;
}

.r1 {
 display: none;
 width: 150px;
 height: auto;
 position: absolute;
 top: 0px;
 left: 80px;
 z-index: 0;
}

.r2 {
    display: none;
    width: 150px;
    height: auto;
    position: absolute;
    top: 0px;
    left: 80px;
    z-index: 0;
}

.r3 {
    display: none;
    width: 150px;
    height: auto;
    position: absolute;
    top: 0px;
    left: 80px;
    z-index: 0;
}

@font-face {
    font-family: 'Open 24 Display St';
    src: url('digital.ttf') format('truetype');
    font-weight: normal;
    font-style: normal;
}

@keyframes blink {
    0% { opacity: 1; }
    50% { opacity: 0.5; }
    100% { opacity: 1; }
}

@keyframes pulse {
    0% { transform: scale(1); }
    50% { transform: scale(1.05); }
    100% { transform: scale(1); }
}